@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #EBEBEB;
    color: #111111;
    font-family: 'Archivo', sans-serif;
    overflow-x: hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f8f9fa;
}
::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #FF5722; 
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
.animate-marquee {
    animation: marquee 20s linear infinite;
}
